<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/style.css">
    <title>Zennix</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="/static/ipv4-filter.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-3">
            <div class="menu">
                <div class="cabecalhoMenu">
                    <a href="/lobby"><img src="/static/imagens/LogoZennix.png" alt="Logo-Zennix"></a>
                    <h2>Zennix</h2>
                    <p>Configurações Mikrotik</p>
                </div>

                <div class="templates">
                    <h2>Templates</h2>
                    <div class="tracoVerde"></div>
                    <a href="/lobby"><button>Criar templates</button></a>
                    <a href="/templates"><button>Vizualizar template</button></a>
                    <a href="/excluir"><button>Excluir template</button></a>
                </div>

                <div class="templates">
                    <h2>Configurações</h2>
                    <div class="tracoVerde"></div>
                    <a href="/redefinir_senha"><button>Redefinir Senha</button></a>
                    <a href="/logout"><button>Logout</button></a>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <form method="POST" id="ipv4-input" action="">
                        <div>
                            {% for display_propriedade in display_propriedades %}
                            {{ display_propriedade | safe}}
                            {% endfor %}
                            <input type="submit" value="Gerar" name="validador" class="btn btn-primary"> <br> <br>
                        </div>
                    </form>

                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
                        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
                        crossorigin="anonymous">
                    </script>
                </div>
</body>

</html>