<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zennix</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
</head>
<body>
   
    <header class="header">
        <a href="index.html" class="logo">Zennix</a>
        <nav class="links">
            <a href="/" class="active">Home</a>
            <a href="/contato">Contato</a>
            <a href="/login">Login</a>
            <a href="/cadastro">Cadastro</a>
        </nav>
    </header>

    <section class="home">
        <div class="home-content">
            <h1>Somos o Zennix</h1>
            <h3>Configuramos o seu roteador</h3>
            <p>Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Mollitia possimus sit dicta
            tempore molestias unde eius eum harum, impedit
            soluta voluptatem, temporibus provident voluptatibus,
            consequuntur minima asperiores exercitationem? Beatae,
            voluptas!</p>
</body>
</html>