<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zennix</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel='stylesheet'>
</head>
<body>
   
    <header class="header">
        <a href="/lobby" class="logo">Zennix</a>
    </header>

    <section class="home">
        <div class="home-content">
            <h1>Sucesso!</h1>
            <h3>Operação realizada.</h3>
</body>
</html>